/**
 * Float Layout Activity
 **/

* {
    box-sizing: border-box;
    text-align: center;
}

body {}

header {
    padding: 21.75px;
    margin-bottom: 20px;
    color: #333;
    background: #FFA500;
    font-size: 25px;
}

section {
    font-size: 25px;
    color: white;
}

#left {
    background: #30948D;
    float: left;
    width: 33.33%;
    padding: 21.75px;
}

#middle {
    background: #9E1212;
    float: left;
    width: 33.33%;
    padding: 21.75px;
}

#right {
    background: #30948D;
    float: left;
    width: 33.33%;
    padding: 21.75px;
}

#full {
    clear: both;
    background: #394549;
    margin-top: 114px;
}

#division {
    background: #6ea3da;
}

aside {
    background: #a6b747;
    width: 30%;
    border: white;
    border-style: solid;
    border-width: 1px;
}

footer {
    background: #FFA500;
    font-size: 25px;
    clear: both;
    padding: 21.75px;
    margin-top: 20px;
}