/**
 * Float Layout Activity
 **/

* {
    box-sizing: border-box;
    text-align: center;
}

body {}

header {
    padding: 21.75px;
    margin-bottom: 20px;
    color: #333;
    background: #FFA500;
    font-size: 25px;
}

section {}

#left {}

#middle {}

#right {}

#full {}

#division {}

aside {}

footer {}